footer{
    width: 100%;
    background: #0d0c0f;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0 0 0;
}

footer .con-footer{
    width: 30%;
    max-width: 280px;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer .link{
    width: 100%;
    border-bottom: 2px solid var(--morado);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
}

footer .link a{
    color: var(--blanco);
}

footer .icons{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}

footer box-icon{
    width: 40px;
    height: 40px;
    fill: var(--blanco);
}

footer box-icon:hover{
    fill: var(--morado);
}


footer .logo{
    width: 100%;
    display: flex;
    justify-content: center;
}

footer .logo img{
    max-width: 120px;
}

@media (max-width: 620px) {
    footer .con-footer{
        width: 50%;
        max-width: 80%;
    }
}

@media (max-width: 420px) {
    footer .con-footer{
        width: 70%;
        max-width: 80%;
    }
}