.swal2-popup {
    background: var(--oscuro);
    border-radius: 30px;
    color: var(--blanco);
}

.swal2-select{
    border-radius: 15px;
    height: 45px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 1),
      -1px -1px 6px rgba(20, 20, 20, 0.4);
    border: none;
    transition: all .4s;
}
.swal2-select:focus{
    box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
    transition: all .4s;
}

.swal2-select option{
    background: var(--oscuro);
    color: var(--morado);
}

.swal2-confirm.swal2-styled{
    background: var(--morado);
}